<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".eRestaurantApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DiscountActivity"></activity>
        <activity android:name=".UpdateBookingActivity" />
        <activity android:name=".ChangeBookingActivity" />
        <activity android:name=".CompleteOrderActivity" />
        <activity android:name=".AdminViewStaff" />
        <activity android:name=".ViewMenu" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".AdminViewOrder" />
        <activity android:name=".AdminViewReservation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>